.container {
  text-align: center;
  padding: 20px;
}

.heading {
  color: #333;
  font-size: 2em;
  margin-bottom: 20px; /* Øget margin */
}

.subheading {
  color: #666;
  font-size: 1.2em;
  margin-bottom: 25px; /* Øget margin */
}

.paragraph {
  color: #444;
  font-size: 1em;
  margin-bottom: 30px; /* Øget margin */
}

.input {
  margin-bottom: 30px; /* Tilføjet margin */
}

.guessList {
  margin: 40px 0;
}

.infobox {
  margin-top: 60px; /* Ændret til margin-top */
}
