.guess-item {
  display: flex;
  border-bottom: 1px solid #ddd;
}

.guess-data {
  flex: 1;
  padding: 10px; /* Øget padding */
  text-align: center;
  font-size: 1em;
  border: 1px solid #ddd;
  position: relative;
}

.correct {
  background-color: lightgreen;
}

.incorrect {
  background-color: lightcoral;
}

.arrow {
  position: absolute;
  font-size: 1.5em;
  color: white;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px; /* Tilføjet margin */
}
