.guess-list {
  border-collapse: collapse;
}

.header {
  display: flex;
  background-color: #f0f0f0;
}

.category {
  flex: 1;
  padding: 10px; /* Øget padding */
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}
